<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Easy Speak</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" >
  </head>
  <body>
    <!--! header section start  -->
    <header class="header">
      <a href="#" class="logo">
        <img src="{% static 'images/enjoy & learn/easyspeak.png' %}" alt="logo" />
      </a>


      <nav class="navbar">
        <a class='active' href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/menu'>Menu</a>
        <a href='/products'>Products</a>
        <a href='/review'>Review</a>
        <a href='/contact'>Contact</a>
        <a href='/blogs'>Blogs</a>
      </nav>
      
      

      <div class="buttons">
        <button id="search-btn">
          <i class="fas fa-search"></i>
        </button>
        <button id="cart-btn">
          <i class="fas fa-shopping-cart"></i>
        </button>
        <button id="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
      </div>

      <div class="search-form">
        <input
          type="text"
          class="search-input"
          id="search-box"
          placeholder="search here"
        />
        <i class="fas fa-search"></i>
      </div>

      <div class="cart-items-container">
        <div class="cart-item">
          <i class="fas fa-times"></i>
          <img src="templates/article/images/enjoy & learn/easyenglish.png" alt="menu" />
          <div class="content">
            <h3>cart item 01</h3>
            <div class="price">%60/-</div>
          </div>
        </div>
        <div class="cart-item">
          <i class="fas fa-times"></i>
          <img src="images/enjoy & learn/easyenglish.png" alt="menu" />
          <div class="content">
            <h3>cart item 02</h3>
            <div class="price">%60/-</div>
          </div>
        </div>
        <div class="cart-item">
          <i class="fas fa-times"></i>
          <img src="images/enjoy & learn/easydeutsch.png" alt="menu" />
          <div class="content">
            <h3>cart item 03</h3>
            <div class="price">%60/-</div>
          </div>
        </div>
        <div class="cart-item">
          <i class="fas fa-times"></i>
          <img src="images/enjoy & learn/easydeutsch.png" alt="menu" />
          <div class="content">
            <h3>cart item 04</h3>
            <div class="price">%60/--</div>
          </div>
        </div>
        <a href="#" class="btn">checkout now</a>
      </div>
    </header>
    <!--! header section end  -->

    <!--! home section start  -->
    <section class="home" id="home">
      <div class="content">
        <h3>EASY SPEAK</h3>
        <p>
          Easy Speak is a website that helps you to learn English easily. You can find many different topics and learn English with fun.
        </p>
        <a href="#" class="btn">Order Now</a>
      </div>
    </section>
    <!--! home section end  -->

    <!--! menu section start  -->
    <section class="menu" id="menu">
      <h1 class="heading">our <span>brands</span></h1>
      <div class="box-container">
        <div class="box">
          <div class="box-head">
            <img src="images/enjoy & learn/enjoyandlearn.png" alt="menu" />
            <span class="menu-category">kids</span>
            <h3>BLLBLLBAA</h3>
            <div class="price">%60<span>%20</span></div>
          </div>
          <div class="box-bottom">
            <a href="#" class="btn">add to cart</a>
          </div>
        </div>
        <div class="box">
          <div class="box-head">
            <img src="images/enjoy & learn/enjoyandlearn.png" alt="menu" />
            <span class="menu-category">teen</span>
            <h3>PRIVATE</h3>
            <div class="price">%60<span>%20</span></div>
          </div>
          <div class="box-bottom">
            <a href="#" class="btn">add to cart</a>
          </div>
        </div>
        <div class="box">
          <div class="box-head">
            <img src="images/enjoy & learn/easyspeak.png" alt="menu" />
            <span class="menu-category">ENGLİSH</span>
            <h3>ALMANCA</h3>
            <div class="price">%60 <span> %40</span></div>
          </div>
          <div class="box-bottom">
            <a href="#" class="btn">12345</a>
          </div>
        </div>
        <div class="box">
          <div class="box-head">
            <img src="images/enjoy & learn/easyenglish.png" alt="menu" />
            <span class="menu-category">ENGLİSH</span>
            <h3>ENGLİSH</h3>
            <div class="price">%60<span>%20</span></div>
          </div>
          <div class="box-bottom">
            <a href="#" class="btn">add to cart</a>
          </div>
        </div>
      </div>
    </section>
    <!--! menu section end  -->

    <!--! products section start  -->
    <section class="products" id="products">
      <h1 class="heading">our <span>products</span></h1>
      <div class="box-container">
        <div class="box">
          <div class="box-head">
            <span class="title">EASY SPEAK</span>
            <a href="#" class="name">EASY SPEAK</a>
          </div>
          <div class="image">
            <img src="images/enjoy & learn/easydeutsch.png" alt="" />
          </div>
          <div class="box-bottom">
            <div class="info">
              <b class="price">%50 Burs Avantajı</b>
              <span class="amount">6-9 Yaş</span>
            </div>
            <div class="product-btn">
              <a href="#">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-head">
            <span class="title">EASY SPEAK</span>
            <a href="#" class="name">EASY SPEAK</a>
          </div>
          <div class="image">
            <img src="images/enjoy & learn/easyabroad.png" alt="" />
          </div>
          <div class="box-bottom">
            <div class="info">
              <b class="price">%50 Burs Avantajı</b>
              <span class="amount">6-9 Yaş</span>
            </div>
            <div class="product-btn">
              <a href="#">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="box dark-bg">
          <div class="box-head">
            <span class="title">Easy Speak</span>
            <a href="#" class="name">KIDS</a>
          </div>
          <div class="image">
            <img src="images/enjoy & learn/easyspeak.png" alt="" />
          </div>
          <div class="box-bottom">
            <div class="info">
              <b class="price">%50 Burs Avantajı</b>
              <span class="amount">6-9 Yaş</span>
            </div>
            <div class="product-btn">
              <a href="#">
                <i class="fas fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--! products section end  -->

    <!--! about section start  -->
    <section class="about">
      <h1 class="heading">about <span>us</span></h1>
      <div class="image"></div>
      <img src="images/analogo.png" alt="about">
      <div class="content">
        <h3>easyspeakblalbalba</h3>
        <p>
          1241241rm1okrmqkfmfkoammkpldmaldmaösdlölfmjfgmkfjfgkm
        </p>
        <a href="#" class="btn">Bilgi Al</a>
      </div>

    </section>

    <!--! about section end  -->
  </body>
</html>
